* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 140px);
  max-width: 400px;
  margin: 0 auto;
}

.bodysize {
  padding: 100px 100px;
  width: 100%;
}

button {
  width: 100px;
  padding: 3px;
}
